/* Text Elements */

h1 span.heading-text-1 {
  color: #1276db;
  font-weight: 700;
}

h1.heading-1 {
  text-align: center;
}

p.paragraph.paragraph-1 {
  text-align: center;
}

p.paragraph span.paragraph-text-1 {
  font-size: 18px;
}

/* Interaction Elements */

a.link-button.nav-button {
  float: none;
  clear: none;
  padding-top: 18px;
  padding-right: 41px;
  width: auto;
  border-top-left-radius: 15px 15px;
  border-top-right-radius: 15px 15px;
  border-bottom-right-radius: 15px 15px;
  border-bottom-left-radius: 15px 15px;
  background-color: #143da6;
}

/* Layout Elements */

body.grid-1 {
  background-color: #d3d3e6;
}

body > .row > [class*='coffee-span-'].column-1 {
  max-height: 600px;
}

body > .row.row-1 {
  position: relative;
  bottom: -34px;
  max-width: 891px;
  width: 100%;
}

body > .row > [class*='coffee-span-'].column-2 {
  text-align: center;
}

body > .row.row-2 {
  position: relative;
  top: -222px;
  right: -147px;
  bottom: 0;
  border-width: 2px;
  border-style: none;
}

@media screen and (max-width: 852px) {
  /* Text Elements */

  p.paragraph.paragraph-1 {
    text-indent: 0;
  }

  /* Interaction Elements */

  a.link-button.nav-button {
    margin-left: 4%;
  }

  /* Layout Elements */

  body > .row.row-2 {
    top: 30px;
    right: -161px;
    left: -82px;
  }
}

@media screen and (max-width: 704px) {
  /* Text Elements */

  h1.heading-1 {
    font-size: 33px;
  }

  /* Interaction Elements */

  a.link-button.nav-button {
    margin-right: 5%;
    padding-right: 29px;
    padding-left: 30px;
  }

  /* Layout Elements */

  body > .row.row-1 {
    text-align: center;
  }

  body > .row.row-2 {
    left: -38px;
  }
}

@media screen and (max-width: 490px) {
  /* Layout Elements */

  body > .row.row-2 {
    left: -52px;
  }
}