/* Text Elements */

h1.heading-1 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #2c79c7;
  text-align: center;
  font-weight: 500;
  font-size: 45px;
  font-family: 'Archivo Black', sans-serif;
  line-height: 1.18;
}

h4 span.heading-text-1 {
  color: #1aa3e8;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

h4.heading-2 {
  margin-top: 21px;
  margin-bottom: 26px;
  font-family: 'Montserrat', sans-serif;
}

h6.travel-heading {
  text-align: center;
  font-style: italic;
  font-family: Georgia, Times, 'Times New Roman', serif;
}

h6 i.heading-text-3 {
  font-style: italic;
}

p.paragraph.paragraph-1 {
  text-align: center;
  font-family: Georgia, Times, 'Times New Roman', serif;
}

p.paragraph span.bold {
  font-weight: 700;
}

a.link-text span.text-link-text-1 {
  font-family: Georgia, Times, 'Times New Roman', serif;
}

a.link-text.footer-link {
  display: inline-block;
  padding-right: 20px;
  width: auto;
  font-family: 'Montserrat', sans-serif;
}

a.link-text.footer-link:hover {
  color: #d417ae;
}

/* Interaction Elements */

a.link-button.nav {
  margin-top: 9px;
  margin-bottom: 9px;
  background-color: #5362b0;
}

a.link-button.button-link-1 {
  background-color: #0e0f0f;
  font-style: italic;
  font-size: 22px;
  font-family: Georgia, Times, 'Times New Roman', serif;
}

a.link-button.nav:hover {
  color: #a318a3;
}

/* Layout Elements */

body > .row > [class*='coffee-span-'].column-1 {
  background-color: #5a68a3;
  text-align: center;
}

body > .row > [class*='coffee-span-'].column-2 {
  padding-right: 0;
  padding-left: 0;
}

body > .row > [class*='coffee-span-'].column-3 {
  text-align: center;
}

body > .row.row-1 {
  margin-top: 7px;
  margin-bottom: 7px;
  padding-right: 5px;
  max-width: 800px;
  width: auto;
}

body > .row > [class*='coffee-span-'].column-4 {
  text-align: center;
}

body > .row.row-2 {
  margin-top: 80px;
}

body > .row > [class*='coffee-span-'].column-5 {
  text-align: center;
}

body.grid-2 {
  background-color: #b8e0e0;
}

div.responsive-picture.picture-1 {
  margin-top: 0;
  max-width: none;
}

div.responsive-picture.travel-image {
  margin-right: auto;
  margin-left: auto;
  max-width: 330px;
}

@media screen and (max-width: 550px) {
}